<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<title>Insert title here</title>
</head>
<style>
  body{
		background:url(resources/image/profile.jpg);
		padding-top: 350px;
	}
  </style> 
 
<body >
<div ng-controller="AdminController">
<div class="container">

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"><a href="#/job" type="button" class="btn btn-info btn-block">ADD JOB</a></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"><a href="#/manageForum" type="button" class="btn btn-info btn-block">MANAGE FORUM</a></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"><a href="#/manageBlog" type="button" class="btn btn-info btn-block">MANAGE BLOGS</a></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"><a href="#/event" type="button" class="btn btn-info btn-block">ADD EVENT</a></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"><a href="#/manageUser" type="button" class="btn btn-info btn-block">MANAGE USERS</a></div>
	<div class="col-xs-1"></div>
</div>

</div>
</div>
</body>
</html>