<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Insert title here</title>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
 <style>
  body{
		background:url(resources/image/pink.jpg);
		
	}
  
  </style> 
  

</head>
<body>
<div ng-controller="ForumController">
</div>


<div class="container-fluid" ng-repeat="f in forums">  
<div ng-if="f.status == 'A'">	    
    							
						<div class="col-xs-7">
			<div class="panel panel-info" >
				<div class="panel-heading">
					<div class="row">	

				<div class="panel-body" style="background-color:#ff9999">

					<div class="row">
						<div class="col-xs-10">

                    <span class="w3-large"><h3>Forum name: {{f.name}}</h3></span>

						 <span class="w3-xlarge"><h3>Username: {{f.userID}}</h3></span>
						
							<!--  <span class="w3-large"><h3>Status: {{f.status}}</h3></span><br> -->
							  
							   <span class="w3-large"><h3>Description:<p> {{f.description}}</p></h3></span><br>
							   
							   <span class="w3-small"><h3>Date & Time: {{f.dateTime}}</h3></span><br>
							   
							 </div>
							 
							<div class="col-xs-2">
							<br><br><br>
	<!-- <button type="button" class="btn btn btn-primary"  ng-click="applied()">Accept</button>
     <br>
     <br>
     <button type="button" class="btn btn btn-primary"  ng-click="applied()">Reject</button> -->
							</div>
						</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
					</div>
					</body>
					</html>

