<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
  body{
		background: url(resources/image/friend1.jpg);
	}
  </style> 
</head>

<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"><a href="#/listUser" type="button" class="btn btn-success">UserList</a></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"><a href="#/friendList" type="button" class="btn btn-success">FriendList</a></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"><a href="#/pendingRequest" type="button" class="btn btn-success">Pending Request</a></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2"><a href="#/cancelSentRequest" type="button" class="btn btn-success">Cancel Sent Request</a></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-1"></div>
</div>
</div>
</body>
</html>