<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div ng-controller="UserController">
<h2 style="color:red">{{errorMessage}}
</div>

<h2>REGISTER HERE</h2>
<form>
ID: <input type="text" ng-model="user.id" name="user"><br><br>
NAME: <input type="text" ng-model="user.name" name="name"><br><br>
ADDRESS: <input type="text" ng-model="user.address" name="address"><br><br>
EMAIL: <input type="text" ng-model="user.email" name="email"><br><br>
PASSWORD: <input type="password" ng-model="user.password" name="password"><br><br>
DOB: <input type="text" ng-model="user.date_of_birth" name="date_of_birth"><br><br>
MOBILE: <input type="text" ng-model="user.mobile_number" name="mobile_number"><br><br>
<input type="button" ng-click="registerUser()" value="SIGN UP">

</form>


</body>
</html>